<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>合肥师范学院审批申请</title>
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'FiProcess/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'FiProcess/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/validator.min.js' %}"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    function text(prefix, i, value, type){
        var result = "<td><div class='form-group'><input name='"+prefix+"_"+type+i+"' type='text' required ";
        if (value.length > 0){
            result += "value='" + value + "'";
        }
        return result + " class='form-control input-md'{% if created %} readonly='readonly'{% endif %}></div></td>\n";
    }
    function num(prefix, i, value, type){
        var result = "<td><div class='form-group'>\
                    <input pattern='^[0-9]{6,}$' maxlength='9' required ";
        if (value.length > 0){
            result += "value='" + value + "'";
        }
        return result + "name='" + prefix + "_"+type+i+"' type='text' class='form-control input-md'{% if created %} readonly='readonly'{% endif %}>\
                </div></td>\n";
    }
    function addPerson(i, name, pos, duty, com){
        $('#tab_person').append('<tr id="addr_person'+i+'"></tr>');
        $('#addr_person'+i).html(
            "<td>"+ i +"</td>\n" + text('recept', i, name, 'name') + text('recept', i, pos, 'pos')
            + text('recept', i, duty, 'duty') + text('recept', i, com, 'com'));
        i++; 
        $('#streamForm').validator('update');
        return i;
    }
    function addStaff(i, name, workId, duty){
        $('#tab_staff').append('<tr id="addr_staff'+i+'"></tr>');
        $('#addr_staff'+i).html(
            "<td>"+ i +"</td>\n" + text('staff', i, name, 'name') + num('staff', i, workId, 'workId')
            + text('staff', i, duty, 'duty'));
        i++; 
        $('#streamForm').validator('update');
        return i;
    }
    $(document).ready(function(){
        var i_person = 1;
        var i_staff = 1;
        {% if personList %}
            {% for person in personList %}
            i_person = addPerson(i_person, '{{person.name}}', '{{person.position}}', '{{person.duty}}', '{{person.company}}');
            {% endfor %}
        {% endif %}
        {% if staffList %}
            {% for staff in staffList %}
            i_staff = addStaff(i_staff, '{{staff.staff.name}}', '{{staff.staff.workId}}', '{{staff.duty}}');
            {% endfor %}
        {% endif %}
        $("#add_person").click(function(){
            i_person = addPerson(i_person, '', '', '', '');
        });
        $("#delete_person").click(function(){
            if(i_person>1){
                $("#addr_person"+(i_person-1)).html('');
                i_person--;
                $('#streamForm').validator('update');
            }
        });
        $("#add_staff").click(function(){
            i_staff = addStaff(i_staff, '', '', '');
        });
        $("#delete_staff").click(function(){
            if(i_staff>1){
                $("#addr_staff"+(i_staff-1)).html('');
                i_staff--;
                $('#streamForm').validator('update');
            }
        });
    })
    </script>
</head>
<body>
    <div class="container" style="max-width:1000px">
    {% if errorMsg %}
        <div class="alert alert-danger">  
            <button type="button" class="close" data-dismiss="alert">×</button>  
                <h4>请更改下列错误信息后重新提交：</h4>
            {% for msg in errorMsg %}
                <h4>{{ msg }}</h4>  
            {% endfor %}
        </div>  
    {% endif %}
    <form id="streamForm" data-toggle="validator" role="form" lass="form" action="" method="post" style="margin:20px 0px 0px 0px">
        {% csrf_token %}
        <div class="form-group">
        {% if currentSign %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="success">×</button>
            <h4>审批单由 {{currentSign.signer.name}} 审批中</h4>
        </div>
        {% else %}
            {% if created %}
            <input name="submitApprovalRecept" type="submit" class="btn btn-primary" value="提交审批单"></input>
            {% else %}
            <input name="receptForm" type="submit" class="btn btn-primary" value="创建"></input>
            {% endif %}
        {% endif %}
        </div>
        <div class="well">
            <h3 align="center"><strong>合肥师范学院公务接待审批申请</strong></h3>
            <div class="row">
                <div class="form-group col-md-3 has-feedback">
                    <label class="control-label">经办单位</label>
                    {% if departmentList %}
                        <select class="form-control" name="department" required>
                            <option value selected="selected">------</option>
                        {% for item in departmentList %}
                            <option value="{{item.id}}" {% if myDept %}{% if myDept == item.id %} selected="selected"{% endif %}{% endif %}>{{item.name}}</option>
                        {% endfor %}
                        </select>
                    {% else %}
                        {% if created %}
                            <input class="form-control" type="text" name="" disabled value="{{stream.department.name}}">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-2 form-group has-feedback">
                    {% bootstrap_field form.name %}
                </div>
                <div class="col-md-2 form-group has-feedback">
                    {% bootstrap_field form.workId %}
                </div>
                <div class="col-md-2 form-group has-feedback">
                    {% bootstrap_field form.applyDate %}
                </div>
                <div class="col-md-3 form-group has-feedback">
                    <label class="control-label">接待时间</label>
                    <input type="text" class="form-control" name="receptDate" placeholder="年-月-日" pattern='^[0-9-]{8,}$' required
                    {% if recept %}value='{{recept.date}}'{% endif %}{% if created %} readonly='readonly'{% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group has-feedback">
                    <label class="control-label">接待对象</label>
                    <input type="text" class="form-control" name="receptPerson" required
                    {% if recept %}value='{{recept.target}}'{% endif %}{% if created %} readonly='readonly'{% endif %}>
                </div>
                <div class="col-md-6 form-group has-feedback">
                    <label class="control-label">接待地点</label>
                    <input type="text" class="form-control" name="receptPosition" required
                    {% if recept %}value='{{recept.position}}'{% endif %}{% if created %} readonly='readonly'{% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 form-group has-feedback">
                    <label class="control-label">接待事由（公务活动名称）</label>
                    <input type="text" class="form-control" name="receptReason" required
                    {% if stream %}value='{{stream.projectName}}'{% endif %}{% if created %} readonly='readonly'{% endif %}>
                </div>
                <div class="col-md-3 form-group has-feedback">
                    <label class="control-label">接待标准</label>
                    <input type="text" class="form-control" name="receptStandard" required
                    {% if recept %}value='{{recept.standard}}'{% endif %}{% if created %} readonly='readonly'{% endif %}>
                </div>
            </div>
            {% if created %}
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">经办单位审批人</label>
                    {% if currentSign %}
                    <input type="text" value="{{deptSign.signer.name}}" class="form-control" readonly="readonly">
                    {% else %}
                        {% if stream.department.secretary %}
                        <select class="form-control" name="departmentMaster">
                            <option value="{{stream.department.secretary.id}}">{{stream.department.secretary.name}}</option>
                            <option value="{{stream.department.chief.id}}">{{stream.department.chief.name}}</option>
                        </select>
                        {% else %}
                        <input type="text" name="departmentMaster" readonly="readonly" value="{{stream.department.chief.name}}" class="form-control">
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <label class="control-label">纪监部门审核</label>
                    {% if currentSign %}
                    <input type="text" value="{{superViser.signer.name}}" class="form-control" readonly="readonly">
                    {% else %}
                        <select class="form-control" name="superViser">
                            {% for item in superViser %}
                            <option value="{{item.staff.id}}">{{item.staff.name}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <label class="control-label">校领导审批</label>
                    {% if currentSign %}
                    <input type="text" value="{{schoolMaster.signer.name}}" class="form-control" readonly="readonly">
                    {% else %}
                        <select class="form-control" name="schoolMaster">
                            {% for item in schoolMaster %}
                            <option value="{{item.staff.id}}">{{item.staff.name}}({{item.dutyDescript}})</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            </div>
                {% if signList %}
                <label class="form-contorl">审核状态</label>
                    {% for item in signList %}
                        {% if item.signed %}
                        <input type="text" class="form-control" readonly="readonly" name="" value="审核人：{{ item.signer.name }}；{{item.signedTime|date:"Y年m月d日"}}审核意见：{{ item.descript }}">
                        {% endif %}
                    {% endfor %}
                    {% if unsigned %}
                    <input type="text" class="form-control" readonly="readonly" value="无">
                    {% endif %}
                {% endif %}
            {% endif %}
            <label for="tab_person" class="control-label">接待对象</label>
            <table class="table table-bordered table-hover" id="tab_person">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center col-md-3">姓名</th>
                        <th class="text-center col-md-3">职务</th>
                        <th class="text-center col-md-2">职称</th>
                        <th class="text-center col-md-3">单位</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            {% if not created %}
            <div class="row">
                <div class="col-md-1">
                    <a id="add_person" class="btn btn-default">增加一条记录</a>
                </div>
                <div class="col-md-9"></div>
                <div class="col-md-1">
                    <a id='delete_person' class="btn btn-default">删除一条记录</a>
                </div>
            </div>
            {% endif %}
            <label for="tab_staff" class="control-label">学校参加人员</label>
            <table class="table table-bordered table-hover" id="tab_staff">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center col-md-2">姓名</th>
                        <th class="text-center col-md-2">工号</th>
                        <th class="text-center">职称</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            {% if not created %}
            <div class="row">
                <div class="col-md-1">
                    <a id="add_staff" class="btn btn-default">增加一条记录</a>
                </div>
                <div class="col-md-9"></div>
                <div class="col-md-1">
                    <a id='delete_staff' class="btn btn-default">删除一条记录</a>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
    <a href={% url 'index' '' %} class="btn btn-large btn-default">返回</a>
    </div>
</body>
</html>