<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>合肥师范学院审批申请</title>
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'FiProcess/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'FiProcess/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/validator.js' %}"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    function text(prefix, i, value, type){
        var result = "<td><div class='form-group'><input name='"+prefix+"_"+type+i+"' type='text' required ";
        if (value.length > 0){
            result += "value='" + value + "'";
        }
        return result + " class='form-control input-md'></div></td>\n";
    }
    function num(prefix, i, value, type){
        var result = "<td><div class='form-group'>\
                    <input pattern='^[0-9]{6,}$' maxlength='9' required ";
        if (value.length > 0){
            result += "value='" + value + "'";
        }
        return result + "name='" + prefix + "_"+type+i+"' type='text' class='form-control input-md'>\
                </div></td>\n";
    }
    function addPerson(i, name, pos, duty, com){
        $('#tab_person').append('<tr id="addr_person'+i+'"></tr>');
        $('#addr_person'+i).html(
            "<td>"+ i +"</td>\n" + text('recept', i, name, 'name') + text('recept', i, pos, 'pos')
            + text('recept', i, duty, 'duty') + text('recept', i, com, 'com'));
        i++; 
        $('#streamForm').validator();
        return i;
    }
    function addStaff(i, name, workId, duty){
        $('#tab_staff').append('<tr id="addr_staff'+i+'"></tr>');
        $('#addr_staff'+i).html(
            "<td>"+ i +"</td>\n" + text('staff', i, name, 'name') + num('staff', i, workId, 'workId')
            + text('staff', i, duty, 'duty'));
        i++; 
        $('#streamForm').validator();
        return i;
    }
    $(document).ready(function(){
        var i_person = 1;
        var i_staff = 1;
        $("#add_person").click(function(){
            i_person = addPerson(i_person, '', '', '', '');
        });
        $("#delete_person").click(function(){
            if(i_person>1){
                $("#addr_person"+(i_person-1)).html('');
                i_person--;
                $('#streamForm').validator();
            }
        });
        $("#add_staff").click(function(){
            i_staff = addStaff(i_staff, '', '', '');
        });
        $("#delete_staff").click(function(){
            if(i_staff>1){
                $("#addr_staff"+(i_staff-1)).html('');
                i_staff--;
                $('#streamForm').validator();
            }
        });
    })
    </script>
</head>
<body>
    <div class="container" style="max-width:1000px">
    <form id="streamForm" data-toggle="validator" role="form" lass="form" action="" method="post" style="margin:20px 0px 0px 0px">
        {% csrf_token %}
        <div class="form-group">  
            <input name="receptForm" type="submit" class="btn btn-primary" value="创建"></input>
        </div>
        <div class="well">
            <h3 align="center"><strong>合肥师范学院公务接待审批申请</strong></h3>
            <div class="row">
                <div class="col-md-3">
                    {% bootstrap_field form.department %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.name %}
                </div>
                <div class="col-md-3">
                    {% bootstrap_field form.applyDate %}
                </div>
                <div class="col-md-3 form-group has-feedback">
                    <label class="control-label">接待时间</label>
                    <input type="text" class="form-control" name="receptDate" placeholder="年-月-日" pattern='^[0-9-]{8,}$' required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group has-feedback">
                    <label class="control-label">接待对象</label>
                    <input type="text" class="form-control" name="receptPerson" required>
                </div>
                <div class="col-md-6 form-group has-feedback">
                    <label class="control-label">接待地点</label>
                    <input type="text" class="form-control" name="receptPosition" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 form-group has-feedback">
                    <label class="control-label">接待事由（公务活动名称）</label>
                    <input type="text" class="form-control" name="receptReason" required>
                </div>
                <div class="col-md-3 form-group has-feedback">
                    <label class="control-label">接待标准</label>
                    <input type="text" class="form-control" name="receptStandard" required>
                </div>
            </div>
            <label for="tab_person" class="control-label">接待对象</label>
            <table class="table table-bordered table-hover" id="tab_person">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center col-md-2">姓名</th>
                        <th class="text-center col-md-2">职务</th>
                        <th class="text-center">职称</th>
                        <th class="text-center-3">单位</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-1">
                    <a id="add_person" class="btn btn-default">增加一条记录</a>
                </div>
                <div class="col-md-9"></div>
                <div class="col-md-1">
                    <a id='delete_person' class="btn btn-default">删除一条记录</a>
                </div>
            </div>
            <label for="tab_staff" class="control-label">学校参加人员</label>
            <table class="table table-bordered table-hover" id="tab_staff">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center col-md-2">姓名</th>
                        <th class="text-center col-md-2">工号</th>
                        <th class="text-center">职称</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-1">
                    <a id="add_staff" class="btn btn-default">增加一条记录</a>
                </div>
                <div class="col-md-9"></div>
                <div class="col-md-1">
                    <a id='delete_staff' class="btn btn-default">删除一条记录</a>
                </div>
            </div>
        </div>
    </form>
    <a href={% url 'index' '' %} class="btn btn-large btn-default">返回</a>
    </div>
</body>
</html>