<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>财务报账审批系统</title>  
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'FiProcess/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'FiProcess/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/bootstrap.min.js' %}"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    </script>
 </head>
 <body>
    <div class="container" style="max-width: 1000px">
    <div class="well">  
        {% if warningMsg %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>  
            {% for msg in warningMsg %}
            <h4>{{ msg }}</h4>
            {% endfor %}
        </div>
        {% endif %}
        <form class="form" action="" method="post">  
            {% csrf_token %} 
            <div class="form-group">  
                <button type="submit" class="btn btn-primary">生成报销单</button>
                <input name="returnStream" type="submit" class="btn btn-primary" value="返回修改"></input>
                {% if proofList %}
                <h4>PROOF!</h4>
                {% endif %}
            </div>
        </form>
    </div>
    </div>
 </body>
 </html>