<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>合肥师范学院劳务费报销</title>
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'FiProcess/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'FiProcess/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/bootstrap.min.js' %}"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    function dic2Html(i, json, type){
        html = "<td class='text-center'>" + (i+1) + "</td>"
                + "<td class='text-center'>" + json['applicante'] + "</td>"
                + "<td class='text-center'>" + json['projectName'] + "</td>"
                + "<td class='text-center'>" + json['supportDept'] + "</td>"
                + "<td class='text-center'>" + json['streamType'] + "</td>"
                + "<td class='text-center' id='time" + json['id'] + "'>" + json['time'] + "</td>"
                + "<td class='text-center'>" 
                + '<input type="submit" class="btn btn-default" name="checkStreamDetail' + json['id'] + '" value="查看">'
                + "</td>"
                + "<td class='text-center'>";
        if (type == 1){ //myStream
            html += '<input type="submit" class="btn btn-success" value="已处理" name="dealWith'+ json['id'] + '">';
        }
        else if (type == 2) { // allStream
            html += '<a href="#submit" data-toggle="modal" class="btn btn-primary" name="acceptStream' + json['id'] + '" role="button">处理</a>'
        }
        html += "</td>";
        return html;
    }
    function showMyStream(){
        $('form.allStream').hide();
        $('form.myStream').show();
        var url = location.protocol + "//" + window.location.hostname + ":"
                  + location.port + "/cwc/?target=myStream";
        $.getJSON(url, {}, function(json) {
            for (var i = 0; i < json.length; i++){
                $('#tabMyStream').append("<tr id='myStream" + i + "'></tr>");
                $('#myStream' + i).html(dic2Html(i, json[i], 1));
            }
        });
    }
    $(document).ready(function(){
        $('#myStream').click(function(){
            $(this).tab('show');
            return showMyStream()
        });
        $('#allStream').click(function(){
            $('form.myStream').hide();
            $('form.allStream').show();
            $(this).tab('show');
            var url = location.protocol + "//" + window.location.hostname + ":"
                      + location.port + "/cwc/?target=allStream&page=1";
            $.getJSON(url, {}, function(json) {
                for (var i = 0; i < json.length; i++){
                    $('#tabAllStream').append("<tr id='allStream" + i + "'></tr>");
                    $('#allStream' + i).html(dic2Html(i, json[i], 2));
                }
            });
        });
        showMyStream();
        $('#submit').on('show.bs.modal', function(e){
            var button = e.relatedTarget;
            document.getElementById("submitOrderOk").name = button.name;
            timeStr = document.getElementById("time" + button.name.substring('acceptStream'.length)).innerHTML;
            document.getElementById("userTime").innerHTML = '用户预约时间：' + timeStr;
            document.getElementById("submitDate").value = timeStr.substring(0, 'YYYY-mm-dd'.length)
        })
    });
    </script>
</head>

<body>
    <div class="container" style="max-width:1000px">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <h4>{{message}}</h4>
                </div> 
            {% endif %}
        {% endfor %}
    {% endif %}
    <h2>财务报账审批系统</h2>
    <form role="form" class="returnForm" method="post">
        {% csrf_token %}
        <button name="returnIndex" class="btn btn-primary navbar-btn pull-right">返回</button>
    </form>
    <ul class="nav nav-tabs">
    <li id="myStream" class="active"><a data-toggle="tab" href="myStream">我的报销单</a></li>
    <li id = "allStream"><a data-toggle="tab" href="allStream">全部报销单</a></li>
    <form role="form" class="myStream" action="" method="post" style="margin:20px 0px 20px 0px">
        {% csrf_token %}
        <table class="table table-bordered table-hover table-striped" id="tabMyStream">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center col-md-2">报销人</th>
                    <th class="text-center">项目名称</th>
                    <th class="text-center col-md-3">经费所属部门</th>
                    <th class="text-center">类别</th>
                    <th class="text-center">预约时间</th>
                    <th class="text-center col-md-1">详细</th>
                    <th class="text-center col-md-1">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
    <form role="form" class="allStream" action="" method="post" style="margin:20px 0px 20px 0px">
        {% csrf_token %}
        <table class="table table-bordered table-hover table-striped" id="tabAllStream">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center col-md-2">报销人</th>
                    <th class="text-center">项目名称</th>
                    <th class="text-center col-md-3">经费所属部门</th>
                    <th class="text-center">类别</th>
                    <th class="text-center">预约时间</th>
                    <th class="text-center col-md-1">详细</th>
                    <th class="text-center col-md-1">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="submitText" class="modal-body">
                        <div class="form-group has-feedback">
                        <label for="submitDate" class="contorl-label">请安排报销时间：<div id='userTime'></div></label>
                        <input type="text" name="submitDate" id="submitDate" placeholder="YYYY-mm-dd" class="form-control">
                        <select name="submitHour" class="form-control">
                            <option value="08">8:00</option>
                            <option value="09">9:00</option>
                            <option value="10">10:00</option>
                            <option value="11">11:00</option>
                            <option value="12">12:00</option>
                            <option value="13">13:00</option>
                            <option value="14">14:00</option>
                            <option value="15">15:00</option>
                            <option value="16">16:00</option>
                            <option value="17">17:00</option>
                            <option value="18">18:00</option>
                        </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="submitOrderOk" type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </ul>
    </div>
</body>
</html>
