<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>财务报账审批系统</title>  
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'FiProcess/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'FiProcess/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/validator.min.js' %}"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    function dic2Html(i, json, type){
        html = "<td class='text-center'>" + (i+1) + "</td>"
                + "<td class='text-center'>" + json['applicante'] + "</td>"
                + "<td class='text-center'>" + json['date'] + "</td>"
                + "<td class='text-center'>" + json['supportDept'] + "</td>"
                + "<td class='text-center'>" + json['projectName'] + "</td>"
                + "<td class='text-center'>" + json['streamType'] + "</td>"
                + "<td class='text-center'>" 
                + '<input type="submit" class="btn btn-default" name="checkStreamDetail' + json['id'] + '" value="查看">'
                + "</td>";
        return html;
    }
    function showTab(form){
        var forms = new Array("mySign", "successStream", "failStream", "successApproval");
        for (var i = 0; i < forms.length; i++){
            if (form == forms[i]){
                var url = location.protocol + "//" + window.location.hostname + ":"
                          + location.port + "/history/?target=" + form;
                $.getJSON(url, {}, function(json) {
                    $('#tabMyStream').empty()
                    for (var i = 0; i < json.length; i++){
                        $('#tabMyStream').append("<tr id='myStream" + i + "'></tr>");
                        $('#myStream' + i).html(dic2Html(i, json[i], 1));
                    }
                });
            }
        }
    }
    $(document).ready(function(){
        $('#mySign').click(function(){
            showTab('mySign');
        });
        $('#successStream').click(function(){
            showTab('successStream');
        });
        $('#failStream').click(function(){
            showTab('failStream');
        });
        $('#successApproval').click(function(){
            showTab('successApproval');
        });
        showTab('successStream');
    })
    </script>
</head>
<body>
    <div class="container" style="max-width:1000px">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <h4>{{message}}</h4>
                </div> 
            {% endif %}
        {% endfor %}
    {% endif %}
    <h2>我的报销及审批历史</h2>
    <form role="form" class="returnForm" method="post">
        {% csrf_token %}
        <button name="returnIndex" class="btn btn-primary navbar-btn pull-right">返回</button>
    </form>
    <ul class="nav nav-tabs">
    <li id="successStream" class="active"><a data-toggle="tab">报销成功</a></li>
    <li id="successApproval"><a data-toggle="tab">审批成功</a></li>
    <li id="failStream"><a data-toggle="tab">报销及审批失败</a></li>
    <li id="mySign"><a data-toggle="tab">审批历史</a></li>
    </ul>
    <form role="form" class="historyForm" action="" method="post" style="margin:20px 0px 20px 0px">
        {% csrf_token %}
        <table class="table table-bordered table-hover table-striped" id="tabMyStream">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center col-md-2">报销人</th>
                    <th class="text-center col-md-2">报销日期</th>
                    <th class="text-center">经费所属部门</th>
                    <th class="text-center col-md-3">项目名称</th>
                    <th class="text-center">类别</th>
                    <th class="text-center col-md-1">详细</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </form>
    </div>    
</body>
</html>