<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>合肥师范学院劳务费报销</title>
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'FiProcess/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'FiProcess/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/validator.min.js' %}"></script>
    <style type="text/css">
    </style>
    <script type="text/javascript">
    function text(formId, value, label, pattern){
        var result = "";
        if (pattern.length > 0){
            result += "<div class='form-group has-feedback'>";
        }
        result += "<label class='control-label'>" + label + "</label>";
        result += "<input class='form-control' id='" + formId + "' name='" + formId 
            + "' placeholder='" + label + "'";
        if (pattern.length > 0){
            result += " pattern='" + pattern + "'";
        }
        if (value.length > 0){
            result += " value='" + value +"'"
        }
        result += " type='text'>";
        if (pattern.length > 0){
            result += "</div>";
        }
        return result;
    }
    function staffLabor(workId, name, duty, time, project, card, bank, amount){
        var result1 = "<div class='col-md-3'>" + text('laborWorkId', workId, '工号', '^[0-9]{6,}$') + "</div>";
        result1 += "<div class='col-md-3'>" + text('laborName', name, '姓名', '') + "</div>";
        result1 += "<div class='col-md-3'>" + text('duty', duty, '职称', '') + "</div>";
        var result2 = "<div class='row'>";
        result2 += "<div class='col-md-3'>" + text('time', time, '时间', '^[0-9-]{8,}$') + "</div>";
        result2 += "<div class='col-md-9'>" + text('project', project, '事项', '') + "</div>";
        result2 += "</div>";
        result2 += "<div class='row'>";
        result2 += "<div class='col-md-4'>" + text('card', card, '工资卡号(系统已保存过可不填)', '^[0-9]{8,}$') + "</div>";
        result2 += "<div class='col-md-5'>" + text('bankName', bank, '开户行', '') + "</div>";
        result2 += "<div class='col-md-3'>" + text('amount', amount, '应发酬金', '^[0-9.]{1,}$') + "</div>";
        result2 += "</div>";
        result2 += "</div>";
        $('#laborTypeForm1').html(result1);
        $('#laborTypeForm2').html(result2);
    }
    function hireLabor(name, dept, duty, personId, time, project, accountName, card, bank, amount){
        var result1 = "<div class='col-md-3'>" + text('laborName', name, '姓名', '') + "</div>";
        result1 += "<div class='col-md-3'>" + text('laborDepartment', dept, '单位', '') + "</div>";
        result1 += "<div class='col-md-3'>" + text('duty', duty, '职称', '') + "</div>";
        var result2 = "<div class='row'>";
        result2 += "<div class='col-md-4'>" + text('personId', personId, '身份证号码', '^[0-9xX]{18}$') + "</div>";
        result2 += "<div class='col-md-5'>" + text('accountName', accountName, '开户名(与姓名一致可不填)', '') + "</div>";
        result2 += "<div class='col-md-3'>" + text('time', time, '时间', '^[0-9-]{8,}$') + "</div>";
        result2 += "</div>";
        result2 += "<div class='row'>";
        result2 += "<div class='col-md-6'>" + text('project', project, '事项', '') + "</div>";
        result2 += "<div class='col-md-6'>" + text('card', card, '卡号', '^[0-9]{8,}$') + "</div>";
        result2 += "</div>";
        result2 += "<div class='row'>";
        result2 += "<div class='col-md-6'>" + text('bankName', bank, '开户行', '') + "</div>";
        result2 += "<div class='col-md-3'>" + text('amount', amount, '应发酬金', '^[0-9.]{1,}$') + "</div>";
        result2 += "</div>";
        result2 += "</div>";
        $('#laborTypeForm1').html(result1);
        $('#laborTypeForm2').html(result2);
    }
    function onLaborTypeChange(){
        switch (document.getElementById("laborType").selectedIndex){
            case 0:
                result = staffLabor('', '', '', '', '', '', '合肥建行城西支行', '');
                break;
            case 1:
                result = hireLabor('', '', '', '', '', '', '', '', '', '');
                break;
        }
    }
    $(document).ready(function(){
        {% if type %}
            {% if type == 'staff' %}
            staffLabor('{{pay.staff.workId}}', '{{pay.staff.name}}', '{{pay.duty}}', '{{pay.date}}',
                '{{pay.reason}}', '{{pay.staff.ccbCard}}', '{{pay.bankName}}', '{{pay.amount}}');
            {% endif %}
            {% if type == 'hire' %}
            document.getElementById("laborType").selectedIndex = 1;
            hireLabor('{{pay.name}}', '{{pay.belong}}', '{{pay.duty}}', '{{pay.personId}}', '{{pay.date}}',
                '{{pay.reason}}', '{{pay.accountName}}', '{{pay.card}}', '{{pay.bankName}}', '{{pay.amount}}');
            {% endif %}
        {% else %}
        staffLabor('', '', '', '', '', '', '合肥建行城西支行', '');
        {% endif %}
    })
    </script>
</head>
<body>
    <div class="container" style="max-width:1000px">
    {% if errorMsg %}
        <div class="alert alert-danger">  
            <button type="button" class="close" data-dismiss="alert">×</button>  
                <h4>请更改下列错误信息后重新提交：</h4>
            {% for msg in errorMsg %}
                <h4>{{ msg }}</h4>  
            {% endfor %}
        </div>  
    {% endif %}
    {% if signErrorMsg %}
        <div class="alert alert-danger">  
            <button type="button" class="close" data-dismiss="alert">×</button>  
            <h4>{{signErrorMsg}}</h4>
        </div> 
    {% endif %}
    <form id="streamForm" data-toggle="validator" role="form" class="form" action="" method="post" style="margin:20px 0px 0px 0px">
        {% csrf_token %}
        <div class="form-group">
        {% if form.currentStage.value == "create" or form.currentStage.value == "cantModify" %}
            {% if cantModify %}
                <input name="createStream" type="submit" class="btn btn-primary" value="生成报销单"{% if signErrorMsg %}disabled=True{% endif %} ></input>
            {% else %}
                <input name="laborStreamForm" type="submit" class="btn btn-primary" value="创建"></input>
            {% endif %}
        {% else %}
            <div class="alert alert-success">  
                <h4>{{ form.currentStage.value }}</h4>
            </div>  
        {% endif %}
        </div>
        <div class="well">
            <h3 align="center"><strong>合肥师范学院劳务费报销</strong></h3>
            <div class="row">
                <div class="form-group col-md-3">
                    {% bootstrap_field form.myDepartment %}
                </div>
                <div class="form-group col-md-3">
                    {% bootstrap_field form.name %}
                </div>
                <div class="form-group col-md-3">
                    {% bootstrap_field form.workId %}
                </div>
                <div class="form-group col-md-3">
                    {% bootstrap_field form.applyDate %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    {% bootstrap_field form.department %}
                </div>
                <div class="form-group col-md-9">
                    {% bootstrap_field form.projectName %}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    {% bootstrap_field form.projectLeaderWorkId %}
                </div>
                <div class="form-group col-md-3">
                    {% bootstrap_field form.projectLeaderName %}
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">合计金额</label>
                    <input class="form-control" type="text" readonly="readonly" value="{{total}}">
                </div>
            </div>
            {% if cantModify %}
            {% if sign1 %}
            <div class="form-group">
                <label for="sign1">部门负责人审核:</label>
                {% if deptSigner %}
                <input type="text" value="{{deptSigner.signer.name}}" class="form-control" readonly="readonly">
                {% else %}
                    <select class="form-control" name="sign1">
                        <option value="{{sign1.chief.id}}">{{ sign1.chief.name }}</option>
                        <option value="{{sign1.secretary.id}}">{{ sign1.secretary.name }}</option>
                    </select>
                {% endif %}
            </div>
            {% endif %}
            <div class="row">
            {% if sign12 %}
                <div class="col-md-2">
                    <label for="sign1">部门负责人审核:</label>
                    <input type="text" class="form-control" name="sign1" value="{{ sign12.chief.name }}" readonly="readonly">
                </div>
                <div class="col-md-2">
                    <label for="sign2">部门书记审核</label>
                    <input type="text" class="form-control" name="sign2" value="{{ sign12.secretary.name }}" readonly="readonly">
                </div>
            {% endif %}
            {% if sign11 %}
                <div class="col-md-2">
                    <label for="sign1">部门负责人审核:</label>
                    <input type="text" class="form-control" name="sign1" value="{{ sign11.chief.name }}" readonly="readonly">
                </div>
            {% endif %}
            {% if schoolSign1 %}
                <div class="col-md-3">
                    <label for="schoolSign1">分管校领导审核:</label>
                    {% if schoolSigner %}
                    <input type="text" value="{{schoolSigner.signer.name}}" class="form-control" readonly="readonly">
                    {% else %}
                        <select class="form-control" name="schoolSign1">
                        {% for signer in schoolSign1 %}
                            <option value="{{ signer.staff.id }}">{{ signer.staff.name }}({{ signer.dutyDescript }})</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                </div>
            {% endif %}
            {% if schoolSign2 %}
                <div class="col-md-3">
                    <label for="schoolSign2">分管财务校领导审核:</label>
                    <input type="text" class="form-control" name="schoolSign2" value="{{ schoolSign2.staff.name }}" readonly="readonly">
                </div>
            {% endif %}
            {% if schoolSign3 %}
                <div class="col-md-2">
                    <label for="schoolSign3">学校负责人审核:</label>
                    <input type="text" class="form-control" name="schoolSign3" value="{{ schoolSign3.staff.name }}" readonly="readonly">
                </div>
            {% endif %}
            </div>
            {% if signList %}
            <label class="form-contorl">审核状态</label>
                {% for item in signList %}
                    {% if item.signed %}
                    <input type="text" class="form-control" readonly="readonly" name="" value="审核人：{{ item.signer.name }}；{{item.signedTime|date:"Y年m月d日"}}审核意见：{{ item.descript }}">
                    {% endif %}
                {% endfor %}
                {% if unsigned %}
                <input type="text" class="form-control" readonly="readonly" value="无">
                {% endif %}
            {% endif %}
            {% else %}
            <div class="well">
            <div class="row">
                <div class="col-md-3">
                    <label for="laborType">请选择劳务费发放类型</label>
                    <select name="laborType" id="laborType" class="form-control" onchange="onLaborTypeChange()">
                        <option value="staff">教职工(有工号)</option>
                        <option value="hire">其他无工号人员</option>
                    </select>
                </div>
                <div id="laborTypeForm1"></div>
            </div>
            <div id="laborTypeForm2"></div>
            <div class="row">
                {% if modify %}
                <div class="col-md-1">
                    <div class="form-group">  
                        <button type="submit" id="modifyLaborRow" name="modifyLaborRow" class="btn btn-success">保存修改</button>
                    </div>
                </div>
                <div class="col-md-1"></div>
                {% endif %}
                <div class="col-md-1">
                    <div class="form-group">  
                        <button type="submit" id="addLaborRow" name="addLaborRow" class="btn btn-default">增加一条记录</button>
                    </div>
                </div>
            </div>
            </div>
            {% endif %}
            <label for="tab_pay" class="control-label">劳务发放表</label>
            <table class="table table-bordered table-hover" id="tab_pay">
                <thead>
                    <tr>
                        <th class="text-center col-md-3">部门(单位)</th>
                        <th class="text-center col-md-2">姓名</th>
                        <th class="text-center col-md-3">卡号</th>
                        <th class="text-center col-md-2">金额</th>
                        {% if not cantModify %}
                        <th class="text-center">操作</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for item in staffPayList %}
                    <tr>
                        <td class="text-center">{{item.staffLaborPay.staff.department.name}}</td>
                        <td class="text-center">{{item.staffLaborPay.staff.name}}</td>
                        <td class="text-center">{{item.staffLaborPay.staff.ccbCard}}</td>
                        <td class="text-center">{{item.staffLaborPay.amount}}</td>
                        {% if not cantModify %}
                        <td class="text-center">
                            <input type="submit" class="btn btn-default" name='delStaffLaborPay{{item.id}}' value="删除">
                            <input type="submit" class="btn btn-default" name='modifyStaffLaborPay{{item.id}}' value="修改">
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% for item in hirePayList %}
                    <tr>
                        <td class="text-center">{{item.belong}}</td>
                        <td class="text-center">{{item.name}}</td>
                        <td class="text-center">{{item.card}}</td>
                        <td class="text-center">{{item.amount}}</td>
                        {% if not cantModify %}
                        <td class="text-center">
                            <input type="submit" class="btn btn-default" name='delHireLaborPay{{item.id}}' value="删除">
                            <input type="submit" class="btn btn-default" name='modifyHireLaborPay{{item.id}}' value="修改">
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <a href={% url 'index' '' %} class="btn btn-large btn-default">返回</a>
    </div>
</body>
</html>
