<!DOCTYPE html>  
{% load bootstrap3  %} 
{% load staticfiles %} 
<html lang="en">  
<head>  
    <meta charset="utf-8">  
    <title>财务报账审批系统</title>  
    <meta name="description" content="">  
    <link rel="stylesheet" type="text/css" href="{% static 'FiProcess/bootstrap.min.css' %}" /> 
    <script type="text/javascript" src="{% static 'FiProcess/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'FiProcess/validator.min.js' %}"></script>
    <script type="text/javascript">
    $('.js-captcha-refresh').click(function(){
        $form = $(this).parents('form');
        $.getJSON($(this).data('url'), {}, function(json) {
            // This should update your captcha image src and captcha hidden input
        });
        return false;
    });
    </script>
</head>  
  
<body>  
    <div class="container" style="max-width: 1000px">
    {% if login_wrong %}  
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>  
            <h4>错误!</h4>
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        </div>  
    {% endif %}
    {% if auth_login_wrong %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>  
            <h4>管理员认证错误!</h4>
        </div>  
    {% endif %}
    {% if register_success %}
        <div class="alert alert-success">  
            <button type="button" class="close" data-dismiss="alert">×</button>  
            <h4>注册成功!</h4>请登录  
        </div>  
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <h4>{{message}}</h4>
                </div>  
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger">  
                    <button type="button" class="close" data-dismiss="alert">×</button>  
                    <h4>{{message}}</h4>
                </div>  
            {% endif %}
        {% endfor %}
    {% endif %}
    <h1 align="center">财务报账审批系统</h1>  
    <div class="well">  
        <form class="form" action="." method="post">  
            {% csrf_token %}  
            <div class="form-group has-feedback">
                <label for="inputName" class="control-label">用户名</label>
                <input type="text" pattern="^[A-z0-9]{6,}$" maxlength="24" class="form-control" id="inputName" 
                    name="username" required placeholder="请输入用户名"
                    {% if messages %}{% for message in messages %}{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}value={{message}}{% endif %}{% endfor %}{% endif %}>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
                <div class="form-group">
                    <label for="inputPsw" class="control-label">密码</label>
                    <input type="password" data-minlength="6" maxlength="64" class="form-control" id="inputPsw" 
                        name="password" required placeholder="请输入登录密码">
                    <div class="help-block with-errors"></div>
                </div>
                <div>
                    {{ form.captcha }}
                    <button name='captchaRefresh' class='js-captcha-refresh'>
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <p class="form-actions">  
                <input type="submit" value="登录" class="btn btn-primary">  
                <a href="/error/"><input type="button" value="忘记密码" class="btn btn-danger"></a>  
                <a href="/register/"><input type="button" value="注册新用户" class="btn btn-success"></a>  
            </p>  
        </form>  
    </div>
    <p  align="center">请使用谷歌、火狐或IE10以上内核浏览器</p>
    <p  align="center">意见及建议请发送至邮箱：jijunhe@qq.com</p>
    </div>  
</body>  
</html>  